@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300;400;600;700&display=swap');


* {
    box-sizing: border-box;
}


/* screen mode css */
:root {
    --text-color: #000;
    --bacground-color: rgb(255, 253, 253);
    --font-size-p: 1em;
    --font-size-h1: 2.8em;
    --font-size-button: 20px;
    --font-family-kecil: 'Poppins', sans-serif;
}

html[data-screen-mode='dark'] {
    --text-color: #fff;
    --bacground-color: #333;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding-bottom: 1000px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my-css */

/* img {
    width: 100%;
} */

body {
    background-color: var(--bacground-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-decoration-color: var(--text-color);
    text-decoration-color: var(--text-color);

}


html,
body {
    height: 100%;
}

/* menu/navbar */

.scrol-fix {
    overflow: auto;
}

.menu {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 60px;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-columns: 120px auto 200px;
    grid-template-columns: 120px auto 200px;
    grid-template-areas:
        "brand navbar social";
    -ms-grid-row-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    gap: 30px;
    overflow: hidden;

    z-index: 1000;

}

.brand {
    grid-area: brand;
    margin-left: 45px;
}

.brand-mobile {
    display: none;
}

div.brand a img {

    /* max-width: 120px; */
    max-height: 50px;
}

.navbar {
    grid-area: navbar;
}

.navbar ul.navbar-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
}

nav.navbar ul li a {
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-decoration: none;
    letter-spacing: 0px;
}

nav.navbar ul li a.active,
nav.navbar ul li a:hover {
    color: #FFA500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social {
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.social a i {
    right: 0;
    margin-left: 15px;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(26, 26, 26);
}

label#toggle-menu {
    display: none;
}


header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.header-1 {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-image: url(../img/background/WALLPAPPER-Header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    visibility: inherit;
}

.hero img {
    width: 100%;
}

/* .hero h1 {
    font-family: var(--font-family-kecil);
    font-weight: 700;
    text-transform: uppercase;
    left: 0;
    position: absolute;
    z-index: 30;
    line-height: 5rem;
    top: calc(40% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    padding: 0 10%;
} */


.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #363636, transparent);
}

/* 
.opacity {
    opacity: 0;
} */



/* CONTENT */
.big-container {
    width: 100%;
    position: relative;
    font-family: var(--font-family-kecil);
    text-align: center;
}

.content {
    background-color: #fefefe;
}


.description {
    padding: 100px 50px 100px;
}

.description h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--font-size-h1);
    margin: 0 auto;
}

.border {
    /* width: 0%; */
    max-width: 20%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.description p {
    font-size: var(--font-size-p);
    line-height: 2em;
}

.button-align {
    width: 25%;
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    margin: auto;
    -webkit-transition: .5s;
    transition: .5s;
}



.button-align:hover {
    background-color: #666;
    border-radius: 5px;
}

a.button.has-icon {
    font-weight: 400;
    font-size: var(--font-size-button);
    color: white;
    text-decoration: none;
}

.icon-arrow-right {
    position: relative;
    float: left;
    margin: 0 15px 0 0;
}

.layanan {
    background-image: url(../img/img7.jpg);
    color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center 0;
    background-position-x: 70%;
    background-repeat: no-repeat;
    visibility: inherit;
}

.layanan .border {
    background-color: #fff;

}

.layanan-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 30px auto;
}


.product {
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center 0;
    background-position-x: 70%;
    background-repeat: no-repeat;
    visibility: inherit;
    background-attachment: fixed;
}

.product .border {
    /* width: 0%; */
    max-width: 20%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.product-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px auto;
}

.layanan-content span.icon-circle {
    font-size: 3rem;
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 50%;
}

.layanan-content h4 {
    font-size: 1.5rem;
}


.product-content span.icon-circle {
    font-size: 2.5rem;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 50%;
}

.layanan-content h4 {
    font-size: 1.5rem;
}


.border-small-white {
    width: 10%;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
}

.border-small-black {
    width: 10%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

/* portfolio */
.portfolio-bar {
    padding-bottom: 30px;
}

.portfolio .description {
    padding-bottom: 30px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(225px, 1fr));
    margin-bottom: 50px;
}

.image-hover {
    padding: 0;
    margin: 0;
    line-height: inherit;
    overflow: hidden;
}

.image-hover a {
    text-decoration: none;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
}

.image-hover a img {
    width: 100%;
    transition: transform 0.5s;
}


.image-hover a img:hover {
    transform: scale(1.5);
}

/* .image-hover a span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}
.image-hover a span p {
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
} */



/* .image-hover a span:hover {
    opacity: 1;
} */


.portfolio-thumb {
    margin: 20px 0;
}

.portfolio-thumb>* {
    margin: 0 0 15px;
}

.portfolio-thumb h4 {
    font-size: 20px;
    font-weight: 600;
}


/* Client */

.client-brand .description {
    padding-bottom: 30px;
}

.client-brand {
    background-color: #fff;
    margin: 50px auto;
}

.client-thumb {
    width: 50%;
}

.client-thumb img {
    width: fit-content;
}

.client-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto 50px;
}

.client-thumb {
    cursor: pointer;
}


/* LOCATION */

.location {
    margin: 120px 50px;
}

.location .description {
    margin-bottom: -100px;
}

.location-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
}

.image-location {
    cursor: pointer;
}

.image-location img {
    width: 100%;
}

.medium-maps {
    display: none;
}

.small-maps {
    display: none;
}

/* FOOTER */
footer {
    overflow: hidden;
    width: 100%;
    background-color: #111;
    color: #fff;

}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 30px;
}


.footer-brand img {
    width: 100%;
}

.footer-brand span {
    line-height: 1.5rem;
    color: #aaa;
}

.footer-about-content h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
}

.footer-about-content p {
    color: #aaa;
    line-height: 1.5rem;
}

.container-contact h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
}

.contact-content {
    color: #aaa;
    line-height: 1.5rem;
    padding-bottom: 10px;
}

.contact-content h2 {
    font-weight: bold;
}

.address a,
.no-telpon a,
.e-mail a {
    text-decoration: none;
    color: #aaa;
}


.copyright {
    font-size: 16px;
    line-height: 3rem;
    text-align: center;
    background-color: #070707;
}

/* RESPONSIVE */

@media (max-width: 1240px) {
    :root {
        --font-size-p: 0.938em;
        --font-size-h1: 2.4em;
        --font-size-button: 18px;
    }

    .navbar ul.navbar-list {
        gap: 20px;
    }

    nav.navbar ul li a {
        font-size: 17px;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .button-align {
        width: 30%;
        padding: 15px;
    }

    .large-maps {
        display: none;
    }

    .medium-maps {
        display: inline-block;
    }

    .small-maps {
        display: none;
    }
}


@media (max-width: 960px) {
    :root {
        --font-size-p: 0.875em;
        --font-size-h1: 2em;
        --font-size-button: 16px;
    }

    .menu {
        display: inline-block;
    }


    .social {
        float: right;
        line-height: 60px;
    }

    label#toggle-menu {
        margin: 0 50px;
        font-size: 30px;
        line-height: 60px;
        float: right;
        cursor: pointer;
        margin-right: 3px;
        display: inline;
    }

    .navbar ul.navbar-list {
        width: 100%;
        position: fixed;
        height: calc(100vh - 60px);
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        background: #ddd;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        top: 60px;
        left: -100%;
        -webkit-transition: all .5s;
        transition: all .5s;
        gap: 0;
    }

    .brand {
        position: fixed;
        margin: auto 30px;
        top: 5px;
    }

    .navbar ul.show {
        left: 0;
    }

    .lock-scroll {
        overflow: hidden;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .button-align {
        width: 35%;
        padding: 12px;
        border-radius: 6px;
    }

    span.icon-circle {
        font-size: 2.5rem;
    }

    .layanan-content h4 {
        font-size: 1.2rem;
    }

    .portfolio-content {
        grid-template-columns: repeat(3, minmax(225px, 1fr));
    }

    .client-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .large-maps {
        display: none;
    }

    .medium-maps {
        display: none;
    }

    .small-maps {
        display: inline-block;
    }
}


@media (max-width:768px) {
    :root {
        --font-size-p: 12px;
        --font-size-h1: 1.6em;
        --font-size-button: 14px;
    }

    .social {
        display: none;
    }

    label#toggle-menu {
        top: 0;
        right: 0;
        font-size: 30px;
        line-height: 60px;
        cursor: pointer;
        margin-right: 10px;
        display: inline-block;
        position: absolute;
    }

    .brand {
        display: none;
    }

    .brand-mobile {
        width: 100%;
        display: inline-block;
        top: 0;
    }

    .brand-mobile a {
        text-align: center;
        width: 100%;
        display: inline-block;
        top: 0;
    }



    .brand-mobile a img {
        position: relative;
        max-height: 50px;
        top: 5px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .button-align {
        width: 220px;
        padding: 10px;
        border-radius: 6px;
    }

    .layanan-bar {
        flex-direction: column;
    }


    .product-bar {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-content {
        grid-template-columns: repeat(1, minmax(225px, 1fr));
    }

    .client-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 50px 30px;
    }

    .copyright {
        line-height: 2.5rem;
        font-size: 12px;
    }

    .location {
        margin: 120px auto;
    }

    .location-container {
        display: inline-block;
    }

    .location .description {
        margin-bottom: -120px;
    }

    .image-location {
        display: none;
    }
}