@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500&display=swap');


/* screen mode css */
:root {
    --text-color: #000;
    --bacground-color: #ddd;
}

html[data-screen-mode='dark'] {
    --text-color: #fff;
    --bacground-color: #333;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding-bottom: 1000px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my-css */

img {
    width: 100%;
}

body {
    background-color: var(--bacground-color);
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-color: var(--text-color);
}

html,
body {
    height: 100%;
}

/* menu/navbar */

.menu {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    gap: 20px;
    overflow: hidden;

}

.brand {
    width: 120px;
    /* position: fixed; */
    margin: 0px 5px;
}

div.brand a img {
    max-width: 120px;
}

.navbar {
    border: 1px solid black;
    max-width: 70%;
    order: 1;
}

.navbar ul.navbar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-items: space-around; */
    gap: 30px;
}

nav.navbar ul li a {
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-decoration: none;
    letter-spacing: 0px;
}

nav.navbar ul li a.active,
nav.navbar ul li a:hover {
    color: #FFA500;
    transition: 0.5s;
}


.social {
    order: 2;
}

.social a i {
    right: 0;
    float: right;
    margin-left: 15px;
    /* display: flex; */
    /* gap: 20px; */
    justify-content: center;
    color: rgb(26, 26, 26);
}


nav #toogle-menu {
    font-size: 30px;
    line-height: 60px;
    /* position: absolute; */
    float: right;
    cursor: pointer;
    display: none;
}

@media (max-width: 1240px) {
    .navbar {
        max-width: 100%;
        order: 2;
    }

    .social {
        border: 1px solid black;
        order: 1;
        width: 70%;
        justify-items: end;
    }

    nav #toogle-menu {
        display: block;
    }

    .navbar ul.navbar-list {
        display: none;
    }

    .brand {
        margin-left: 0px;
        /* grid-column: 2; */
    }
}

/* screen mode toogle */
/* 
p.mode {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}

.wrapper {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.label-check input {
    display: none;
}

.label-check {
    position: relative;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.label-check .checkmark {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    background: #333;
    border-radius: 50px;
    position: absolute;
    transition: .5s;
}

.label-check .checkmark::before {
    content: "";
    width: 44%;
    height: 94%;
    background: #333;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 1.2px;
    transition: .5s;
    background: #fff;
}

.label-check input:checked+.checkmark {
    background: #fff;
}

.label-check input:checked+.checkmark::before {
    transform: translateX(26px);
    background: #333;
} */


section div.hero {
    width: 100%;
    /* position: relative; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 100;
    width: 100%;
    display: cover;
    vertical-align: middle;
    /* box-sizing: border-box; */
}

div.hero-1 {
    background-image: url(../img/img5.jpg);
}

div.hero-2 {
    background-image: url(../img/img4.jpg);
}