@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500&display=swap');


/* screen mode css */
:root {
    --text-color: #000;
    --bacground-color: #ddd;
}

html[data-screen-mode='dark'] {
    --text-color: #fff;
    --bacground-color: #333;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding-bottom: 1000px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my-css */

img {
    width: 100%;
}

body {
    background-color: var(--bacground-color);
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-decoration-color: var(--text-color);
    text-decoration-color: var(--text-color);
    /* margin: 50px; */
    /* height: 10000px; */
}

html,
body {
    height: 100%;
}

/* menu/navbar */

.menu {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 60px;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-columns: 120px auto 200px;
    grid-template-columns: 120px auto 200px;
    grid-template-areas:
        "brand navbar social";
    -ms-grid-row-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    gap: 20px;
    overflow: hidden;

}

.brand {
    grid-area: brand;
    margin-left: 0px;
}

div.brand a img {
    max-width: 120px;
    max-height: 60px;
}

.navbar {
    grid-area: navbar;
}

.navbar ul.navbar-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
}

nav.navbar ul li a {
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-decoration: none;
    letter-spacing: 0px;
}

nav.navbar ul li a.active,
nav.navbar ul li a:hover {
    color: #FFA500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social {
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social a i {
    right: 0;
    margin-left: 15px;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(26, 26, 26);
}

label#toggle-menu {
    display: none;
}


@media (max-width: 1240px) {
    .navbar ul.navbar-list {
        gap: 20px;
    }

    nav.navbar ul li a {
        font-size: 17px;
    }
}


@media (max-width: 960px) {

    .menu {
        display: inline-block;
    }


    .social {
        float: right;
        line-height: 60px;
    }

    label#toggle-menu {
        margin: 0 50px;
        font-size: 30px;
        line-height: 60px;
        float: right;
        cursor: pointer;
        margin-right: 30px;
        display: inline;
    }

    .navbar ul.navbar-list {
        width: 100%;
        position: fixed;
        width: 100%;
        height: 100vh;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        background: #ddd;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        top: 60px;
        left: -100%;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .brand {
        position: fixed;
        margin-left: 0px;
    }

    .navbar ul.show {
        left: 0;
    }
}

@media (max-width:720px) {
    .social {
        display: none;
    }
}

/* screen mode toogle */

p.mode {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}

.wrapper {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.label-check input {
    display: none;
}

.label-check {
    position: relative;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.label-check .checkmark {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    background: #333;
    border-radius: 50px;
    position: absolute;
    -webkit-transition: .5s;
    transition: .5s;
}

.label-check .checkmark:before {
    content: "";
    width: 44%;
    height: 94%;
    background: #333;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 1.2px;
    -webkit-transition: .5s;
    transition: .5s;
    background: #fff;
}

.label-check input:checked+.checkmark {
    background: #fff;
}

.label-check input:checked+.checkmark:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    background: #333;
}


section div.hero {
    width: 100%;
    /* position: relative; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 100;
    width: 100%;
    display: cover;
    vertical-align: middle;
    /* box-sizing: border-box; */
}

div.hero-1 {
    background-image: url(../img/img5.jpg);
}

div.hero-2 {
    background-image: url(../img/img4.jpg);
}