/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1, 
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300;400;600;700&display=swap');


/* screen mode css */
:root {
    --text-color: #000;
    --bacground-color: rgb(255, 253, 253);
    --font-size-p: 1em;
    --font-size-h1: 2.5em;
    --font-size-button: 20px;
    --font-family-kecil: 'Poppins', sans-serif;
}

html[data-screen-mode='dark'] {
    --text-color: #fff;
    --bacground-color: #333;
}

body {
    background-color: var(--bacground-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-decoration-color: var(--text-color);
    text-decoration-color: var(--text-color);

}


html,
body {
    height: 100%;
}

/* menu/navbar */

.scrol-fix {
    overflow: auto;
}

.menu {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 60px;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-columns: 120px auto 200px;
    grid-template-columns: 120px auto 200px;
    grid-template-areas:
        "brand navbar social";
    -ms-grid-row-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    gap: 30px;
    /* overflow: hidden; */
    z-index: 1000;

}

.brand {
    grid-area: brand;
    margin-left: 45px;
}

.brand-mobile {
    display: none;
}

div.brand a img {
    max-height: 50px;
}

.navbar {
    grid-area: navbar;
}

.navbar ul.navbar-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0;
}

nav.navbar ul li a {
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-decoration: none;
    letter-spacing: 0px;
}

nav.navbar ul li a.active,
nav.navbar ul li a:hover {
    color: #FFA500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social {
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.social a i {
    right: 0;
    margin-left: 15px;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(26, 26, 26);
}

label#toggle-menu {
    display: none;
}

.icon-contact-overlay {
    display: none;
    z-index: 100;
    width: 192px;
    height: 24px;
    margin: 0 5px;
    border-radius: 12px;
    position: fixed;
    left: calc(100vw - 208px);
    top: calc(100vh - 60px);
    background-color: #fff;
}

.icon-contact-overlay a img {
    max-height: 24px;
}

.icon-contact-overlay  a span {
    font-size: 12px;
}

.icon-contact-overlay  a {
    gap: 5px;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}


header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.header-1 {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-image: url(../img/background/WALLPAPPER-Header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    visibility: inherit;
}

.hero img {
    width: 100%;
}


.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #363636, transparent);
}


/* CONTENT */
.big-container {
    width: 100%;
    position: relative;
    font-family: var(--font-family-kecil);
    text-align: center;
}

.content {
    background-color: #fefefe;
}


.description {
    padding: 100px 50px 100px;
}

.description h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--font-size-h1);
    margin: 0 auto;
}

.border {
    /* width: 0%; */
    max-width: 20%;
    height: 3px;
    background-color: #000;
    margin: 20px auto;
}

.description p {
    font-size: var(--font-size-p);
    line-height: 2em;
}

.button-align {
    width: 25%;
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    margin: auto;
    -webkit-transition: .5s;
    transition: .5s;
    line-height: 1;
}



.button-align:hover {
    background-color: #666;
    border-radius: 5px;
}

a.button.has-icon {
    font-weight: 400;
    font-size: var(--font-size-button);
    color: white;
    text-decoration: none;
}

.icon-arrow-right {
    position: relative;
    float: left;
    margin: 0 15px 0 0;
}

.layanan {
    background-image: url(../img/background/section2.JPG);
    color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center 0;
    background-position-x: 70%;
    background-repeat: no-repeat;
    visibility: inherit;
}

.layanan .border {
    background-color: #fff;

}

.layanan-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 30px auto;
}


.product {
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center 0;
    background-position-x: 70%;
    background-repeat: no-repeat;
    visibility: inherit;
    background-attachment: fixed;
}

.product .border {
    max-width: 20%;
    height: 3px;
    background-color: #000;
    margin: 20px auto;
}

.product-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px auto;
}

.layanan-content span.icon-circle {
    font-size: 3rem;
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 50%;
    line-height: 1;
}

.layanan-content h4 {
    font-size: 1.5rem;
}


.product-content span.icon-circle {
    font-size: 2.5rem;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 50%;
    line-height: 1;
}

.layanan-content h4 {
    font-size: 1.5rem;
}


.border-small-white {
    width: 10%;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
}

.border-small-black {
    width: 10%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

/* portfolio */
.portfolio-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(225px, 1fr));
}

.video-production,
.audio-production {
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-hover {
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: inherit;
    overflow: hidden; 
}

.portfolio-thumb {
    /* position: relative; */
    /* display: inline-block; */
    -moz-transition: transform 0.75s ease-in-out, filter 0.75s ease-in-out;
    -webkit-transition: transform 0.75s ease-in-out, filter 0.75s ease-in-out;
    -o-transition: transform 0.75s ease-in-out, filter 0.75s ease-in-out;
    -ms-transition: transform 0.75s ease-in-out, filter 0.75s ease-in-out;
    transition: transform 0.75s ease-in-out, filter 0.75s ease-in-out;
    transform-style: preserve-3d;
}

.portfolio-thumb:hover {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
}


.thumb-image {
    background-color: #000;
    backface-visibility: hidden;
}


.play-icon {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;   
    transform: rotateY(180deg);
}

.icon-container {
    position: relative;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .95);
}

.icon-container i {
    font-size: 3rem;
    margin: auto auto;
    
}


/* Overlay Vid-YT */
.close-youtube {
    display: none;
}

.hide-navigation {
    display: none;
}

.youtube-lightbox {
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
}

.slider {
    width: 100%;
    margin: auto;
}

.thumb-container {
    margin: auto;
    width: 70%;
    box-sizing: content-box;
    display: grid;
}

.navigation-box {
    color: #aaa;
    cursor: pointer;
}

.next-button {
    font-size: 2.5rem;
    position: absolute;
    right: 0;
}

.previews-button {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
}

.close-button {
    margin: 16px 30px;
    right: 0;
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
}

.next-button {
    font-size: 2.5rem;
    position: absolute;
    right: 0;
}


.close-button,
.next-button,
.previews-button {
    transition: all 0.5s ease-in-out;
}

.close-button:hover,
.next-button:hover,
.previews-button:hover {
    color: #fff;
}

.slider-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}



.slider-responsive iframe {
    /* margin-top: 18px; */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Client */

.client-brand .description {
    padding-bottom: 30px;
}

.client-brand {
    background-color: #fff;
    margin: 50px auto 0;
}

.client-content {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
    align-items: center;
    justify-items: center;
    gap: 30px;
    justify-content: space-between;
}


.client-thumb img {
    margin: auto;
    width: 50%;
}


.client-thumb {
    cursor: pointer;
}



/* LOCATION */

.location {
    margin: auto 50px 100px;
}

.location .description {
    margin-bottom: -100px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* FOOTER */
footer {
    overflow: hidden;
    width: 100%;
    background-color: #111;
    color: #fff;

}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 30px;
}


.footer-brand img {
    width: 100%;
}

.footer-brand span {
    line-height: 1.5rem;
    color: #aaa;
}

.footer-about-content h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
}

.footer-about-content p {
    color: #aaa;
    line-height: 1.5rem;
}

.container-contact h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
}

.contact-content {
    color: #aaa;
    line-height: 1.5rem;
    padding-bottom: 10px;
}

.contact-content h2 {
    font-weight: bold;
}

.address a,
.no-telpon a,
.e-mail a {
    text-decoration: none;
    color: #aaa;
}


.copyright {
    font-size: 16px;
    line-height: 3rem;
    text-align: center;
    background-color: #070707;
}

/* RESPONSIVE */

@media (max-width: 1240px) {
    :root {
        --font-size-p: 0.938em;
        --font-size-h1: 2.25em;
        --font-size-button: 18px;
    }

    .navbar ul.navbar-list {
        gap: 20px;
    }

    nav.navbar ul li a {
        font-size: 17px;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .button-align {
        width: 30%;
        padding: 15px;
    }
}


@media (max-width: 960px) {
    :root {
        --font-size-p: 0.875em;
        --font-size-h1: 1.8em;
        --font-size-button: 16px;
    }

    .menu {
        display: inline-block;
    }


    .social {
        float: right;
        line-height: 60px;
    }

    label#toggle-menu {
        margin: auto 30px auto 20px;
        font-size: 30px;
        line-height: 60px;
        float: right;
        cursor: pointer;
        /* margin-right: 3px; */
        display: inline;
    }

    .navbar ul.navbar-list {
        width: 100%;
        position: fixed;
        height: calc(100vh - 60px);
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        background: #ddd;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        top: 60px;
        left: -100%;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -ms-transition: all 1s;
        transition: all 1s;
        gap: 0;
        padding: 0;
        margin: 0;
    }

    .brand {
        position: fixed;
        margin: auto 30px;
        top: 5px;
    }

    .navbar ul.show {
        left: 0;
    }

    .lock-scroll {
        overflow: hidden;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .button-align {
        width: 35%;
        padding: 12px;
        border-radius: 6px;
    }

    span.icon-circle {
        font-size: 2.5rem;
    }

    .layanan-content h4 {
        font-size: 1.2rem;
    }

    .portfolio-content {
        grid-template-columns: repeat(3, minmax(225px, 1fr));
    }

    .client-content {
        grid-template-columns: repeat(6, 1fr);
    }

    .client-thumb img {
        width: 70%;
    }

}


@media (max-width:768px) {
    :root {
        --font-size-p: 12px;
        --font-size-h1: 1.5em;
        --font-size-button: 14px;
    }

    .social {
        display: none;
    }

    .icon-contact-overlay {
        display: block;
    }

    label#toggle-menu {
        top: 0;
        right: 0;
        font-size: 30px;
        line-height: 60px;
        cursor: pointer;
        margin-right: 10px;
        display: inline-block;
        position: absolute;
    }

    .brand {
        display: none;
    }

    .brand-mobile {
        width: 100%;
        display: inline-block;
        top: 0;
    }



    .brand-mobile a img {
        position: relative;
        max-height: 50px;
        top: 5px;
        margin: auto;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .button-align {
        width: 220px;
        padding: 10px;
        border-radius: 6px;
    }

    .layanan-bar {
        flex-direction: column;
    }


    .product-bar {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-content {
        grid-template-columns: repeat(1, minmax(225px, 1fr));
    }

    .client-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .client-thumb img {
        width: 80%;
    }

    .item-remove {
        display: none;
    }

    .location {
        margin: auto 15px 100px;
    }

    .map-responsive {
        height: 300px;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 50px 30px;
    }

    .copyright {
        line-height: 2.5rem;
        font-size: 12px;
    }
}